<!doctype html>

<html>
    <head>
        <title>My Title</title>
        <script src="http://code.jquery.com/jquery.js"></script>
        
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
      <li>{{ message }}</li>
        {% endfor %}
    </ul>
    
    {% endif %}
    {% endwith %}

        {% block content %}ENTER SOME CONTENT{% endblock %}
        <script type="text/javascript" src="/static/search.js"></script>

    </body>
</html>