<!doctype html>

<html>
    <head>
        <title>My Title</title>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/my_modal.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
        <link href="/static/stylesheet.css" rel="stylesheet">

         <!-- mapbox links -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' /> 
       <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<!-- links to rateyo plugin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script> 
    
    <!-- links for chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    </head>


    <body>
        <div class="nav-bar">
            
            {% if 'user_id' not in session %}
                <a href='#' class="register_modal">Register</a>
           
            <!-- <button type="button" class="login_modal">Login</button> -->
                <a href="#" class="login_modal">Login</a>
            {% endif %}

            {% if 'user_id' in session %}
                <a href='/logout'>Logout</a>
                <a href='/user_page'>{{ session['username'] }}</a>
            {% endif %}

        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
      <li>{{ message }}</li>
        {% endfor %}
    </ul>
    
    {% endif %}
    {% endwith %}
        

    {% block content %}ENTER SOME CONTENT{% endblock %}
        <script>
        //loading the modal box jquery code
            var login_form = '<form action="/login" method="POST">'+
                                '<label for= "field-user">Username' + 
                        '<input type="text" name="username" id="field-username">'+
                                '</label>'+
                                '<label for= "field-password">Password'+
                    '<input type="password" name="pwd" id="field-password">'+
                                '</label>'+
                            '<input type="submit">'+
                                '</form>';


            var registration_form = '<form action="/register" method="POST">'+
                                    '<label for= "field-user">Username'+ 
                        '<input type="text" name="username" id="field-username">'+
                                    '</label>'+
                                    '<label for= "field-email">Email'+ 
                                '<input type="text" name="email" id="field-email">'+
                                    '</label>'+
                                    '<label for= "field-password">Password'+
                            '<input type="password" name="pwd" id="field-password">'+
                                    '</label>'+
                                    '<input type="submit">'+
                                    '</form>';

            //creates the login modal
            $(document).ready(function(){
                $('.login_modal').my_modal_box({
                    title: "Login",
                    description: login_form,
                });
            });

            //creates the register form modal
            $(document).ready(function(){
                $('.register_modal').my_modal_box({
                    title: "Register",
                    description: registration_form,
                });
            });

        </script>
        <script type="text/javascript" src="/static/search.js"></script>
        

    </body>
</html>