<!doctype html>

<html>
    <head>
        <title>My Title</title>
        <script src="http://code.jquery.com/jquery.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
         
         <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' /> 
        
    </head>

    <body>
        <div class="nav-bar">
            <a href='/register'>Register</a>
            {% if 'user_id' in session %}
                <a href='/logout'>Logout</a>
            {% endif %}

            <form action="/login" method="POST">
                <label for= "field-user">Username 
                    <input type="text" name="username" id="field-username">
                </label>
                <label for= "field-password">Password
                    <input type="text" name="pwd" id="field-password">
                </label>
                <input type="submit">
            </form>

        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
      <li>{{ message }}</li>
        {% endfor %}
    </ul>
    
    {% endif %}
    {% endwith %}
        <!--  <script type="text/javascript" src="/static/search.js"></script> -->
        {% block content %}ENTER SOME CONTENT{% endblock %}
        <script type="text/javascript" src="/static/search.js"></script>
        <script type="text/javascript" src="/static/comment.js"></script>

    </body>
</html>