{% extends 'base.html' %}
{% block content %}

<h1>{{ boulder.boulder_name }}</h1>

<ul>
    {% if boulder.boulder_latitude %}
    <li>Latitude: {{ boulder.boulder_latitude }}</li>
    {% endif %}
    {% if boulder.boulder_longitude %}
    <li>Longitude: {{ boulder.boulder_longitude }}</li>
    {% endif %}
    <li>Description: {{ boulder.boulder_description }}</li>
    <li>Directions: {{ boulder.boulder_directions }}</li>
</ul>

{% if boulder.boulder_latitude %}
    <div id='map' style='width: 400px; height: 300px;'></div>

    <script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoicm9ib3RpY21vbmtleSIsImEiOiJjaW9nZXBtajAwMWd3djFtM3Nma3FqaXB2In0.21UysS7J-Y50PVNcD0mopg';


    // var myLayer = L.mapbox.featureLayer().addTo(map);
    //converting jinja vars to js as well as string to number.
    lat = '{{ boulder.boulder_latitude }}';
    lat = Number(lat);
    lng = '{{ boulder.boulder_longitude }}';
    lng = Number(lng);

    var map = L.mapbox.map('map', 'mapbox.pirates')
        .setView([lat, lng], 11);

    map.scrollWheelZoom.disable();

    L.mapbox.featureLayer({
        // this feature is in the GeoJSON format: see geojson.org
        // for the full specification
        type: 'Feature',
        geometry: {
            type: 'Point',
            // coordinates here are in longitude, latitude order because
            // x, y is the standard for GeoJSON and many formats
            coordinates: [ 
              lng, lat
            ]
        },
        properties: {
            title: '{{ boulder.boulder_name }}',
            // description: 'needs to be dynamic',
            // one can customize markers by adding simplestyle properties
            // https://www.mapbox.com/guides/an-open-platform/#simplestyle
            'marker-size': 'small',
            'marker-color': '#ffb84d',
            'marker-symbol': 'rocket'
        }
    }).addTo(map);

    </script>
{% endif %}

        <form action="#" method="POST">
        <div id="rateYo"></div>

            <input type="hidden" name="user-rating" id="star-rating">
        <input type="hidden" id="boulder" name="boulder_id" value="{{ boulder.boulder_id }}">
        <input type="hidden" id="user" name="user" value="{{ session.get('user_id') }}">
        <input type="hidden" id="avg" name="avg" value="{{ avg }}" >
        <input type="hidden" id="user_score" name="user_score" value="{{ user_score }}">
     
        </form>

        <script type="text/javascript">

        var user = $("#user").val();
        var avg = parseInt($("#avg").val());
        var userScore = parseInt($("#user_score").val());

        if (userScore ) {
            var defaultVal = userScore;
            var color = "#cc0000";
        } else if (user && !(avg)){
            var defaultVal = avg;
            var color = "#cc0000";
        } else {
            var defaultVal = avg;
            var color = "#ff8c1a";
        }

        if (user != "None") {
            noWrite = false;
        } else {
            noWrite = true;
        }

        $(function(){
            $("#rateYo").rateYo({
                starWidth: "30px",
                normalFill: "#B8B8B8",
                ratedFill: color,
                maxValue: 5,
                numStars: 5,
                fullStar: true,
                spacing: "5px",
                rating: defaultVal,
                
                readOnly: noWrite,
                

            });
        function successFunc(results){
            // alert("boom! done");

        }

        $(function(){
            var $rateYo = $('#rateYo').rateYo();
            
            $('#rateYo').click(function(e){
                var rating = $rateYo.rateYo("rating");
                $("#star-rating").val(String(rating));
                var boulder = $("#boulder").val();
                var user = $("#user").val();

                var formInputs = {'user': user,
                                  'boulder': boulder,
                                  'rate': rating};
                console.log(formInputs);
                if (user != "None"){
                   $.post('/rate-boulder', formInputs, successFunc); 
                } 
                
                                  
                console.log("The rating is " + String(rating));
                console.log(String(boulder));
                console.log(String(user));
            });
        });

        });

        </script>

{% if routes %}
<h2>Routes</h2>
    <ul>
{% for route in routes %}
    <li>
        <a href="/route/{{ route.route_id }}">{{ route.route_name }}    {{ route.difficulty_rate }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

<h2>Comments</h2>
    {% if 'user_id' in session %}
    <form action="" method="POST" id="boulder-comment">
        <label for="b-comment-field">
            <textarea name="comment" id="b-comment-field"></textarea>
        </label>
        <lable for="submit">
        <input type="submit" value="Submit" id="b-comment-submit">
    </label>
    </form>
    {% endif %}
    <ul id="b-comments">
{% for comment in comments %}
{% if comment.user_id %}
        <li>{{ comment.user.username}} </li>
        {% endif %}
<li>{{ comment.boulder_comment }}</li>
<li>{{ comment.boulder_datetime.strftime('%d %B %Y') }}   </li>
{% endfor %}
</ul>
<script type="text/javascript" src="/static/comment.js"></script>
{% endblock %}