{% extends 'base.html' %}

{% block content %}
<p> This is a homepage, Yo! </p>


<a href='/register'>Register</a>
<a href='/logout'>Logout</a>
<form action="/login" method="POST">
    <label for= "field-user">Username 
        <input type="text" name="username" id="field-username">
    </label>
    <label for= "field-password">Password
        <input type="text" name="pwd" id="field-password">
    </label>
    <input type="submit">
</form>

    <label for="field-search">Search:
        <input type="text" name="search" id="field-search">
     </label>
     <button id="search_btn">jhb</button>


<a href='/locations'>Locations</a>


<div >
<ul id="search-results"></ul>
</div>

{% endblock %}