{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="intro">Click on the map for local spots to Boulder or Search for the name
            of a place.</p>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-6">        
        <div id='map' style='width: 550px; height: 600px;'></div>
        </div>
        <div class="col-md-6">
            <div class="row">
            <div class="col-md-7">
            <form class="" role="search">
                <div class="form-group">
                    <input type="text" name="search" id="field-search" class="form-control" placeholder="Search" >
                </div>
                <button type="submit" id="search_btn" class="btn btn-default">Submit</button>
            </form> 
            </div>
            </div>

            <!-- <label for="field-search">  Search: 
            <input type="text" name="search" id="field-search">
            </label>
            <button id="search_btn">search</button> -->
            <div >
                <h2 id="boulder-results">Unmapped Boulders</h2>
                <ul id="Bsearch-results"></ul>
                <h2 id="route-results">Routes Matching Search</h2> 
                <ul id="Rsearch-results"></ul>
            </div>
         </div>
    </div>
    <hr>
    <script>
    var map = L.mapbox.map('map', 'mapbox.pirates')
        .setView([37.7749, -122.4194], 9);

    map.scrollWheelZoom.disable();

    // ajax call to put all locations as markers on the map
    $(document).ready(function(){ 
      $.get("/search.json", {"term": ""}, putMarkersOnMap);
    });

    </script> 

    <script>
        $("#Bsearch-results").hide();
        $("#boulder-results").hide();
        $("#route-results").hide();
        $("#Rsearch-results").hide();
    </script>
</div>
{% endblock %}