{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ location.location_name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Description:</h3>
      <p>{{ location.location_description }}</p>
      <h3>Directions:</h3>
      <p>{{ location.location_directions }}</p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
        <p>Latitude: {{ location.latitude }} </p>
        </div>
        <div class="col-md-4">
        <p>Longitude: {{ location.longitude }} </p>
        </div>
      </div>
      <div id='map' style='width: 550px; height: 400px;'></div>
    </div>
  </div>

      <input type ="hidden" value='{{ location.location_id }}' name='location-id' class='id'>
  <hr>
  <div class="row">
    
    <div class="col-md-6">
      {% if sub_locations %}
        
        <h2>Sub Locations</h2>
        
        <ul>
            {% for sub_location in sub_locations %}
            <li>
              <a href="/sub_locations/{{ sub_location.sub_location_id }}">{{ sub_location.sub_location_name }}</a>
            </li>
            {% endfor %}
        </ul>
      {% endif %}
      </div>
      
      <div class="col-md-6">
      {% if boulders %}
        <h2>Boulders</h2>
        
        <ul>
          {% for boulder in boulders %}
            <li>
              <a href="/boulders/{{ boulder.boulder_id }}">{{ boulder.boulder_name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
    
    </div>
  <hr>
  </div>
  
  <script>
    //TO DISPLAY THE LOCATION MARKER FOR THE SPECIFIC PAGE
    //converting jinja vars to js as well as string to number.
    lat = '{{ location.latitude }}';
    lat = Number(lat);
    lng = '{{ location.longitude }}';
    lng = Number(lng);

    var map = L.mapbox.map('map', 'mapbox.pirates',{
        scrollWheelZoom: false
    }).setView([lat, lng], 12);
  </script>

  <script>
    // ajax call to put the location and all its children as markers on the map
    var searchTerm = $('.id').val();
    $(document).ready(function(){
        
      $.get("/location.json", {"term": searchTerm}, putMarkersOnMap);
    });
  </script>

{% endblock %}