{% extends 'base.html' %}

{% block content %}
<h1>{{ location.location_name }}</h1>

<ul>
    <li>Latitude: {{ location.latitude }} </li>
    <li>Longitude: {{ location.longitude }} </li>
    <li>Description: {{ location.location_description }} </li>
    <li>Directions: {{ location.location_directions }} </li>
</ul>
{% if sub_locations %}
    <h2>Sub Locations</h2>
    <ul>
        {% for sub_location in sub_locations %}
        <li>
          <a href="/sub_locations/{{ sub_location.sub_location_id }}">{{ sub_location.sub_location_name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if boulders %}
    <h2>Boulders</h2>
    <ul>
      {% for boulder in boulders %}
        <li>
          <a href="/boulders/{{ boulder.boulder_id }}">{{ boulder.boulder_name }}</a>
        </li>
      {% endfor %}
      </ul>
{% endif %}

{% endblock %}