{% extends 'base.html' %}
{% block content %}

<h1>{{ route.route_name }}</h1>

<ul>
    <li>Difficulty Level: {{ route.difficulty_rate }}</li>
    <li>Description: {{ route.route_description }}</li>
    <li>Directions: {{ route.route_directions }}</li>
    <li>Protection: {{ route.route_protection }}</li>
</ul>
<form action="/rate-route" method="POST">
              <div >
                  <label>Rating:
                    1 <input type="radio" name="score" value="1">
                    2 <input type="radio" name="score" value="2">
                    3 <input type="radio" name="score" value="3">
                    4 <input type="radio" name="score" value="4">
                    5 <input type="radio" name="score" value="5">

                  </label>
              </div>
              <input type="submit" value="Record Rating">

<h2>Comments</h2>
    <form action="" method="POST" id="route-comment">
        <label for="r-comment-field">
            <textarea name="comment" id="r-comment-field">
            </textarea>
        </label>
        <lable for="submit">
        <input type="submit" value="Submit" id="r-comment-submit">
    </label>
    </form>
    <ul>
    {% if comments %}  
        {% for comment in comments %}
        {% if comment.user_id %}
        <li>{{ comment.user.username}} </li>
        {% endif %}
        <li>{{ comment.route_comment }}</li>
        <li>{{ comment.route_datetime.strftime('%d %B %Y') }}   </li>
        {% endfor %}
    {% endif %}
</ul>
<h2>Routes on the same boulder</h2>
    <ul>
{% for n_route in near_routes %}
    <li>
        <a href="/route/{{ n_route.route_id }}">{{ n_route.route_name }}   {{ n_route.difficulty_rate }}</a>
    </li>
{% endfor %}
</ul>

<h2>Near by boulders</h2>
    <ul>
{% for boulder in boulders %}
    <li>
        <a href="/boulders/{{ boulder.boulder_id }}">{{ boulder.boulder_name }}</a>
    </li>
{% endfor %}
</ul>



{% endblock %}