{% extends 'base.html' %}
{% block content %}

<h1>{{ route.route_name }}</h1>

<ul>
    <li>Difficulty Level: {{ route.difficulty_rate }}</li>
    <li>Description: {{ route.route_description }}</li>
    <li>Directions: {{ route.route_directions }}</li>
    <li>Protection: {{ route.route_protection }}</li>
</ul>

        <form action="#" method="POST">
        <div id="rateYo"></div>

        <input type="hidden" name="user-rating" id="star-rating">
        <input type="hidden" id="route" name="route_id" value="{{ route.route_id }}">
        <input type="hidden" id="user" name="user" value="{{ session.get('user_id') }}">
        <input type="hidden" id="avg" name="avg" value="{{ avg }}" >
        <input type="hidden" id="user_score" name="user_score" value="{{ user_score }}">
     
        </form>

        <script type="text/javascript">

        var user = $("#user").val();
        var avg = parseInt($("#avg").val());
        var userScore = parseInt($("#user_score").val());

        if (userScore ) {
            var defaultVal = userScore;
            var color = "#cc0000";
        } else if (user && !(avg)){
            var defaultVal = avg;
            var color = "#cc0000";
        } else {
            var defaultVal = avg;
            var color = "#ff8c1a";
        }

        if (user != "None") {
            noWrite = false;
        } else {
            noWrite = true;
        }

        $(function(){
            $("#rateYo").rateYo({
                starWidth: "30px",
                normalFill: "#B8B8B8",
                ratedFill: color,
                maxValue: 5,
                numStars: 5,
                fullStar: true,
                spacing: "5px",
                rating: defaultVal, 
                readOnly: noWrite,
                
            });
        function successFunc(results){
            // alert("boom! done");
        }

        $(function(){
            var $rateYo = $('#rateYo').rateYo();
            
            $('#rateYo').click(function(e){
                var rating = $rateYo.rateYo("rating");
                $("#star-rating").val(String(rating));
                var route = $("#route").val();
                var user = $("#user").val();

                var formInputs = {'user': user,
                                  'route': route,
                                  'rate': rating};
                console.log(formInputs);
                if (user != "None"){
                   $.post('/rate-route', formInputs, successFunc); 
                } 
                                       
                console.log("The rating is " + String(rating));
                console.log(String(route));
                console.log(String(user));
            });
        });

        });

        </script>            

<h2>Comments</h2>
    {% if 'user_id' in session %}
    <form action="" method="POST" id="route-comment">
        <label for="r-comment-field">
            <textarea name="comment" id="r-comment-field"></textarea>
        </label>
        <lable for="submit">
        <input type="submit" value="Submit" id="r-comment-submit">
    </label>
    </form>
    {% endif %}
    <ul id="r-comments">
    {% if comments %}  
        {% for comment in comments %}
        {% if comment.user_id %}
        <li>{{ comment.user.username}} </li>
        {% endif %}
        <li>{{ comment.route_comment }}</li>
        <li>{{ comment.route_datetime.strftime('%d %B %Y') }}   </li>
        {% endfor %}
    {% endif %}

</ul>
<script type="text/javascript" src="/static/comment.js"></script>
<h2>Routes on the same boulder</h2>
    <ul>
{% for n_route in near_routes %}
    <li>
        <a href="/route/{{ n_route.route_id }}">{{ n_route.route_name }}   {{ n_route.difficulty_rate }}</a>
    </li>
{% endfor %}
</ul>

<h2>Near by boulders</h2>
    <ul>
{% for boulder in boulders %}
    <li>
        <a href="/boulders/{{ boulder.boulder_id }}">{{ boulder.boulder_name }}</a>
    </li>
{% endfor %}
</ul>



{% endblock %}