{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ sub_location.sub_location_name }}</h1>

            <ul>
                {% if sub_location.sub_latitude %}
                <li>Latitude: {{ sub_location.sub_latitude }}</li>
                {% endif %}
                {% if sub_location.sub_longitude %}
                <li>Longitude: {{ sub_location.sub_longitude }}</li>
                {% endif %}
                <li>Description: {{ sub_location.sub_location_description }}</li>
                <li>Directions: {{ sub_location.sub_location_directions }}</li>
                <li>Main Location: <a href="/locations/{{ sub_location.location_id }}">{{ sub_location.location.location_name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
    {% if sub_location.sub_latitude %}
    <input type ="hidden" value='{{ sub_location.sub_location_id }}' name='sub-location-id' class='id'>
        <div class="col-md-8" id='map' style='width: 600px; height: 400px;'></div>
       
    <script>
    //CODE TO PUT THE SUB-LOCATION MARKER ON THE MAP
  
    //converting jinja vars to js as well as string to number.
    lat = '{{ sub_location.sub_latitude }}';
    lat = Number(lat);
    lng = '{{ sub_location.sub_longitude }}';
    lng = Number(lng);

    var map = L.mapbox.map('map', 'mapbox.pirates')
        .setView([lat, lng], 11);
    map.scrollWheelZoom.disable();

    </script>
    {% endif %}
     <div class="col-md-4">
    {% if boulders %}
        <h2>Boulders</h2>
    <ul>
        {% for boulder in boulders %}
        <li>
            <a href="/boulders/{{ boulder.boulder_id }}" >{{ boulder.boulder_name }}</a>
        </li>

        {% endfor %}
    </ul>
{% endif %}

        </div>
    </div>
<script>
//AJAX TO PUT THE SUB-LOCATION'S CHILDREN AS MARKERS ON THE MAP
var searchTerm = $('.id').val();
$(document).ready(function(){
    // alert("hhh")
  $.get("/sub_location.json", {"term": searchTerm}, putMarkersOnMap);
});

</script>
</div>
{% endblock %}