{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h1>Hello, {{ session['username'] }}! </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id='map' style='width: 550px; height: 600px;'></div>
        </div>
        <div class="col-md-6">
            <div class="row">
            <div class="col-md-7">
            <form class="" role="search">
                <div class="form-group">
                    <input type="text" name="search" id="field-search" class="form-control" placeholder="Search" >
                </div>
                <button type="submit" id="search_btn" class="btn btn-default">Submit</button>
            </form> 
            </div>
            </div>
            <div>
                <h2 id="boulder-results">Unmapped Boulders</h2>
                <ul id="Bsearch-results"></ul>
                <h2 id="route-results">Routes Matching Search</h2> 
                <ul id="Rsearch-results"></ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div>
    
                <h2> Climbs Completed </h2>
                {% if climbed_list %}
                <table class="table table-striped">
                    <tr>
                        <th>Boulder Name</th>
                        <th>Route Name</th>
                        <th>Difficulty Rating</th>
                        <th >Star Rating</th>
                    </tr>

                {% for climbed in climbed_list %}
                    <tr>
                        <td><a href="/boulders/{{climbed['boulder_id']}}">{{ climbed['boulder_name'] }}</a></td>
                        <td><a href="/route/{{ climbed['route_id'] }}">{{ climbed['route_name'] }}</a></td>
                        <td>{{ climbed['rating'] }}</td>
                        <td class="StarRating" value="{{ climbed['star_rating'] }}">{{ climbed['star_rating'] }}</td>
                    </tr>
           
                {% endfor %}
                </table>
                {% else %}
                <p>You have no complete climbs yet. Rate your climbs and they will show up here. </p>
                {% endif %}
                </div>
        </div>

    </div>
    <hr>
    <script>
    //CODE FOR THE MAP TO DISPLAY THE SEARCH RESULTS.

    var map = L.mapbox.map('map', 'mapbox.pirates')
        .setView([37.7749, -122.4194], 9);

    map.scrollWheelZoom.disable();

    </script> 

    <script>
        $("#Bsearch-results").hide();
        $("#boulder-results").hide();
        $("#route-results").hide();
        $("#Rsearch-results").hide();
    </script>

</div>
{% endblock %}