{% extends 'base.html' %}

{% block content %}


<p>Hello, {{ session['username'] }}! </p>

<label for="field-search">Search:
        <input type="text" name="search" id="field-search">
     </label>
     <button id="search_btn">search</button>
<div id='map' style='width: 600px; height: 400px;'></div>
<script>
//CODE FOR THE MAP TO DISPLAY THE SEARCH RESULTS.

var map = L.mapbox.map('map', 'mapbox.pirates')
    .setView([37.7749, -122.4194], 9);

map.scrollWheelZoom.disable();

</script> 
<div >
<ul id="search-results"></ul>
</div>
<div>
    <h2> Climbs Completed </h2>
<table>
    <tr>
        <th>Boulder Name</th>
        <th>Route Name</th>
        <th>Difficulty Rating</th>
        <th>Star Rating</th>
    </tr>
{% for climbed in climbed_list %}
    <tr>
        <td><a href="/boulders/{{climbed['boulder_id']}}">{{ climbed['boulder_name'] }}</a></td>
        <td><a href="/route/{{ climbed['route_id'] }}">{{ climbed['route_name'] }}</a></td>
        <td>{{ climbed['rating'] }}</td>
        <td>{{ climbed['star_rating'] }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}